# 1. 진법

## 1-1. 10진수 $\rightarrow$ 2 진수 변환

In [ ]:
bin(42)

## 1-2. 10진수 $\rightarrow$ 8 진수 변환

In [ ]:
oct(42)

## 1-3. 10진수 $\rightarrow$ 16 진수 변환

In [ ]:
hex(42)

## 1-4. 2진수 $\rightarrow$ 10 진수 변환

In [ ]:
int("0b111100", 2)

## 1-5. 8진수 $\rightarrow$ 16 진수 변환

In [ ]:
int("0o74", 8)

## 1-6. 16진수 $\rightarrow$ 10 진수 변환

In [ ]:
int("Ox3c", 16)

# 2. 문자열

## 2-1. 문자열을 거꾸로

In [ ]:
string = "ABCD"
print(string[::-1])

## 2-2. 아스키코드

In [ ]:
# 문자를 아스키 코드로 변환
ord('A')

In [ ]:
# 아스키 코드를 문자로 변환
chr(65)

# 3. 배열

## 3-1. 배열 초기화

In [2]:
n, m = map(int, input().split())
arr = [[0] * m for _ in range(n)] # n행 m열
print(arr)

3 5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

## 3-2. 배열의 원소를 거꾸로

In [4]:
# 반환값 없음
arr = [1, 2, 3, 4]
arr.reverse()
print(arr)

[4, 3, 2, 1]

## 3-3. 배열(문자열)의 특정 원소 갯수

In [5]:
arr = [1, 2, 3, 3, 3, 4, 5]
string = "banana"
print(arr.count(3))
print(string.count('a'))

3
3

## 3-4. 원소 중복 제거

In [6]:
alpha = ['a' ,'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b' ,'c', 'd']
print(list(set(alpha)))

['b', 'a', 'e', 'f', 'd', 'c', 'g']

In [11]:
# 2차원 리스트의 경우
lst = [[1, 2], [1, 2], [1]]
print(list(set(list(map(tuple, lst)))))

[(1,), (1, 2)]

## 3-5. 배열 정렬

In [13]:
# 오름차순
arr = [1, 3, 4, 2, 7, 6]
arr.sort()
print(arr)

[1, 2, 3, 4, 6, 7]

In [16]:
# 내림차순
arr.sort(reverse = True)
print(arr)

[7, 6, 4, 3, 2, 1]

In [21]:
# 원소가 리스트인 경우 정렬
arr = [[1, 2, 3], [5, 2, 4], [3, 5, 7], [2, 2, 2]]
arr.sort(key = lambda x : (x[0], -x[1]))
print(arr)

[[1, 2, 3], [2, 2, 2], [3, 5, 7], [5, 2, 4]]

# 4. 삼항 연산자

In [23]:
a = 5
b = 2
res = a if a >= b else b
print(res)

5